---
import * as m from '../paraglide/messages.js';
import { getLocale } from '../paraglide/runtime.js';
import MapboxCityAutocomplete from './MapboxCityAutocomplete.astro';
import SendFlat from '../assets/images/send_flat.svg';

const currentLang = getLocale();
---

<div class="artist-form-container">
  
  <form class="artist-form" id="artist-signup-form">
    <div class="form-group">
      <label for="artist-name">{m.artist_name({}, { locale: 'en' })} *</label>
      <input type="text" id="artist-name" name="artistName" required>
    </div>

    <div class="form-group">
      <label for="pronouns">{m.pronouns({}, { locale: 'en' })}</label>
      <input type="text" id="pronouns" name="pronouns" placeholder={m.pronouns_placeholder({}, { locale: 'en' })}>
    </div>

    <!-- Mapbox City Autocomplete -->
    <MapboxCityAutocomplete />

    <div class="form-group">
      <label>{m.activities({}, { locale: 'en' })} *</label>
      <div class="checkbox-group">
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="dj" />
          <span class="checkmark"></span>
          {m.dj({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="producer" />
          <span class="checkmark"></span>
          {m.producer({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="curator" />
          <span class="checkmark"></span>
          {m.curator({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="promoter" />
          <span class="checkmark"></span>
          {m.promoter({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="label" />
          <span class="checkmark"></span>
          {m.label({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="bookingagency" />
          <span class="checkmark"></span>
          {m.booking_agency({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="collective" />
          <span class="checkmark"></span>
          {m.collective({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="radio" />
          <span class="checkmark"></span>
          {m.radio({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="recordstore" />
          <span class="checkmark"></span>
          {m.record_store({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="festival" />
          <span class="checkmark"></span>
          {m.festival({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="medias" />
          <span class="checkmark"></span>
          {m.media({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="activities" value="other" />
          <span class="checkmark"></span>
          {m.other({}, { locale: 'en' })}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>{m.musical_styles({}, { locale: 'en' })} *</label>
      <div class="checkbox-group">
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="bass" />
          <span class="checkmark"></span>
          Bass
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="bailefunkbresilianfunk" />
          <span class="checkmark"></span>
          Baile Funk / Bresilian Funk
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="breakbeat" />
          <span class="checkmark"></span>
          Breakbeat
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="drumandbass" />
          <span class="checkmark"></span>
          Drum & Bass
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="dubstep" />
          <span class="checkmark"></span>
          Dubstep
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="jerseyclub" />
          <span class="checkmark"></span>
          Jersey Club
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="garage" />
          <span class="checkmark"></span>
          Garage
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="breaks" />
          <span class="checkmark"></span>
          Breaks
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="techno" />
          <span class="checkmark"></span>
          Techno
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="dancehall" />
          <span class="checkmark"></span>
          Dancehall
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="footwork" />
          <span class="checkmark"></span>
          Footwork
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="grime" />
          <span class="checkmark"></span>
          Grime
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="jungle" />
          <span class="checkmark"></span>
          Jungle
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="rap" />
          <span class="checkmark"></span>
          Rap
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="bouyon" />
          <span class="checkmark"></span>
          Bouyon
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="hiphop" />
          <span class="checkmark"></span>
          Hip-Hop
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="shatta" />
          <span class="checkmark"></span>
          Shatta
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="club" />
          <span class="checkmark"></span>
          Club
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="baltimoreclub" />
          <span class="checkmark"></span>
          Baltimore Club
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="dub" />
          <span class="checkmark"></span>
          Dub
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="ghettotech" />
          <span class="checkmark"></span>
          Ghetto Tech
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="gqom" />
          <span class="checkmark"></span>
          Gqom
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="house" />
          <span class="checkmark"></span>
          House
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="trap" />
          <span class="checkmark"></span>
          Trap
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="afrobeats" />
          <span class="checkmark"></span>
          Afrobeats
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="amapiano" />
          <span class="checkmark"></span>
          Amapiano
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="dembow" />
          <span class="checkmark"></span>
          Dembow
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="ukfunky" />
          <span class="checkmark"></span>
          UK Funky
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="reggaeton" />
          <span class="checkmark"></span>
          Reggaeton
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="ghettohouse" />
          <span class="checkmark"></span>
          Ghetto House
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="speedgarage" />
          <span class="checkmark"></span>
          Speed Garage
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="afrohouse" />
          <span class="checkmark"></span>
          Afro House
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="batida" />
          <span class="checkmark"></span>
          Batida
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="experimental" />
          <span class="checkmark"></span>
          Experimental
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="electronic" />
          <span class="checkmark"></span>
          Electronic
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="ambient" />
          <span class="checkmark"></span>
          Ambient
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="neoperrero" />
          <span class="checkmark"></span>
          Neo Perreo
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="trance" />
          <span class="checkmark"></span>
          Trance
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="deephouse" />
          <span class="checkmark"></span>
          Deep House
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="dubtechno" />
          <span class="checkmark"></span>
          Dub Techno
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="techhouse" />
          <span class="checkmark"></span>
          Tech House
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="acid" />
          <span class="checkmark"></span>
          Acid
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="bassline" />
          <span class="checkmark"></span>
          Bassline
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="electro" />
          <span class="checkmark"></span>
          Electro
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="brokenbeat" />
          <span class="checkmark"></span>
          Broken Beat
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="kuduro" />
          <span class="checkmark"></span>
          Kuduro
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="ballroom" />
          <span class="checkmark"></span>
          Ballroom
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="cumbia" />
          <span class="checkmark"></span>
          Cumbia
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="guaracha" />
          <span class="checkmark"></span>
          Guaracha
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="downtempo" />
          <span class="checkmark"></span>
          Downtempo
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="hyperpop" />
          <span class="checkmark"></span>
          Hyperpop
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="dance" />
          <span class="checkmark"></span>
          Dance
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="drill" />
          <span class="checkmark"></span>
          Drill
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="gabber" />
          <span class="checkmark"></span>
          Gabber
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="soca" />
          <span class="checkmark"></span>
          Soca
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="coupedecale" />
          <span class="checkmark"></span>
          Coupé-Décalé
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="electronica" />
          <span class="checkmark"></span>
          Electronica
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="minimal" />
          <span class="checkmark"></span>
          Minimal
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="psytrance" />
          <span class="checkmark"></span>
          Psytrance
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="zouk" />
          <span class="checkmark"></span>
          Zouk
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="hardcore" />
          <span class="checkmark"></span>
          Hardcore
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="balearichouse" />
          <span class="checkmark"></span>
          Balearic House
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="chaabi" />
          <span class="checkmark"></span>
          Chaabi
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="donk" />
          <span class="checkmark"></span>
          Donk
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="kwaito" />
          <span class="checkmark"></span>
          Kwaito
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="raptorhouse" />
          <span class="checkmark"></span>
          Raptor House
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="singeli" />
          <span class="checkmark"></span>
          Singeli
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="calypso" />
          <span class="checkmark"></span>
          Calypso
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="miamibass" />
          <span class="checkmark"></span>
          Miami Bass
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="harddrum" />
          <span class="checkmark"></span>
          Hard Drum
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="juke" />
          <span class="checkmark"></span>
          Juke
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="bubbling" />
          <span class="checkmark"></span>
          Bubbling
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="latinclub" />
          <span class="checkmark"></span>
          Latin Club
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="genres" value="rai" />
          <span class="checkmark"></span>
          Rai
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="soundcloud">SoundCloud</label>
      <input type="url" id="soundcloud" name="soundcloud" placeholder="https://soundcloud.com/yourprofile">
    </div>

    <div class="form-group">
      <label for="spotify">Spotify</label>
      <input type="url" id="spotify" name="spotify" placeholder="https://open.spotify.com/artist/...">
    </div>

    <div class="form-group">
      <label for="instagram">Instagram</label>
      <input type="text" id="instagram" name="instagram" placeholder="@yourusername">
    </div>

    <div class="form-group">
      <label for="bio">{m.bio({}, { locale: 'en' })} ({m.bio_max({}, { locale: 'en' })})</label>
      <textarea id="bio" name="bio" rows="4" maxlength="250" placeholder={m.bio_placeholder({}, { locale: 'en' })} onInput="updateCharCount('bio', 'bio-count', 250)"></textarea>
      <small class="char-count" id="bio-count">0/250 {m.characters({}, { locale: 'en' })}</small>
    </div>

    <div class="form-group">
      <label>{m.social_political({}, { locale: 'en' })} {m.social_political_optional({}, { locale: 'en' })}</label>
      <p class="form-help-text">
        {m.social_political_help({}, { locale: 'en' })}
      </p>
      <div class="checkbox-group">
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="queerrights" />
          <span class="checkmark"></span>
          {m.queer_rights({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="flintarepresentation" />
          <span class="checkmark"></span>
          {m.flinta_representation({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="genderequality" />
          <span class="checkmark"></span>
          {m.gender_equality({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="anti-racism" />
          <span class="checkmark"></span>
          {m.anti_racism({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="decolonialism" />
          <span class="checkmark"></span>
          {m.decolonialism({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="acccessibilityforpeoplewithdisabilities" />
          <span class="checkmark"></span>
          {m.access_disabled({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="economicequalityclasssolidarity" />
          <span class="checkmark"></span>
          {m.economic_equality({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="climatejustice" />
          <span class="checkmark"></span>
          {m.climate_justice({}, { locale: 'en' })}
        </label>
        <label class="checkbox-item">
          <input type="checkbox" name="socialPolitical" value="geographicmarginalization" />
          <span class="checkmark"></span>
          {m.geographic_marginalization({}, { locale: 'en' })}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="themes-development">{m.themes_development({}, { locale: 'en' })} {m.themes_development_optional({}, { locale: 'en' })}</label>
      <textarea id="themes-development" name="themesDevelopment" rows="4" maxlength="500" placeholder={m.themes_development_placeholder({}, { locale: 'en' })} onInput="updateCharCount('themes-development', 'themes-count', 500)"></textarea>
      <small class="char-count" id="themes-count">0/500 {m.characters({}, { locale: 'en' })}</small>
    </div>

    <div class="form-group">
      <label for="club-politics">{m.club_politics({}, { locale: 'en' })} {m.club_politics_optional({}, { locale: 'en' })}</label>
      <textarea id="club-politics" name="clubPolitics" rows="4" maxlength="500" placeholder={m.club_politics_placeholder({}, { locale: 'en' })} onInput="updateCharCount('club-politics', 'club-count', 500)"></textarea>
      <small class="char-count" id="club-count">0/500 {m.characters({}, { locale: 'en' })}</small>
    </div>

    <button type="submit" class="submit-btn">
      <img src={SendFlat.src} alt="Submit" />
    </button>
  </form>
</div>

<script define:vars={{ 
  selectActivity: m.select_activity({}, { locale: 'en' }),
  selectGenre: m.select_genre({}, { locale: 'en' }),
  submitting: m.submitting({}, { locale: 'en' }),
  joinCommunity: m.join_community({}, { locale: 'en' }),
  characters: m.characters({}, { locale: 'en' })
}}>
  // Function to update character count
  function updateCharCount(textareaId, counterId, maxLength) {
    const textarea = document.getElementById(textareaId);
    const counter = document.getElementById(counterId);
    if (textarea && counter) {
      const currentLength = textarea.value.length;
      counter.textContent = `${currentLength}/${maxLength} ${characters}`;
      
      // Change color when approaching limit
      if (currentLength > maxLength * 0.8) {
        counter.style.color = '#ef4444'; // red
      } else if (currentLength > maxLength * 0.6) {
        counter.style.color = '#f59e0b'; // amber
      } else {
        counter.style.color = '#6b7280'; // gray
      }
    }
  }

  function initArtistForm() {
    const form = document.getElementById('artist-signup-form');
    if (!form) return;

    // Initialize character counters
    updateCharCount('bio', 'bio-count', 250);
    updateCharCount('themes-development', 'themes-count', 500);
    updateCharCount('club-politics', 'club-count', 500);

    
    form.addEventListener('submit', async function(e) {
      e.preventDefault();
      
      const submitBtn = form.querySelector('button[type="submit"]');
      const originalText = submitBtn?.textContent || joinCommunity;
      
      // Check that at least one activity is selected
      const activitiesChecked = form.querySelectorAll('input[name="activities"]:checked');
      if (activitiesChecked.length === 0) {
        alert(selectActivity);
        return;
      }

      // Check that at least one genre is selected
      const genresChecked = form.querySelectorAll('input[name="genres"]:checked');
      if (genresChecked.length === 0) {
        alert(selectGenre);
        return;
      }

      // Validate that city has coordinates from Mapbox
      const cityInput = form.querySelector('#city');
      const latField = form.querySelector('#latitude');
      const lngField = form.querySelector('#longitude');
      const countryField = form.querySelector('#country');

      if (cityInput && cityInput.value) {
        // Check if coordinates were filled by Mapbox autocomplete
        if (!latField?.value || !lngField?.value || !countryField?.value) {
          console.warn('⚠️ City coordinates missing');
          alert(`Please select a city from the suggestions list. Type your city name and select it from the dropdown.`);
          return;
        }
      }
      
      try {
        // Disable button
        if (submitBtn) {
          submitBtn.disabled = true;
          submitBtn.textContent = submitting;
        }
        
        // Prepare data
        const formData = new FormData(form);
        
        // Send to API
        const response = await fetch('/api/artist/submit', {
          method: 'POST',
          body: formData,
          credentials: 'include' // Important: include cookies
        });

        if (!response) {
          throw new Error('No response received from server');
        }

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const result = await response.json();
        
        if (result.success) {
          // Success - redirect to thank you page
          if (result.redirect) {
            window.location.href = result.redirect;
          } else {
            window.location.href = '/thank-you';
          }
        } else {
          // Error
          alert(`❌ ${result.message}`);
        }
        
      } catch (error) {
        console.error('Form submission error:', error);
        alert('❌ Network error. Please check your connection and try again.');
      } finally {
        // Re-enable button
        if (submitBtn) {
          submitBtn.disabled = false;
          submitBtn.textContent = originalText;
        }
      }
    });
  }

  // Initialize on load
  document.addEventListener('DOMContentLoaded', initArtistForm);
  
  // Make updateCharCount available globally for inline onInput calls
  window.updateCharCount = updateCharCount;
</script>

<style>
  .artist-form-container {
    background: white;
    border-radius: 1.5rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .artist-form-container h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #1f2937;
    margin: 0 0 1rem 0;
    text-align: center;
    background: linear-gradient(135deg, #6366f1, #8b5cf6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .form-description {
    text-align: center;
    color: #6b7280;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }

  .artist-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #1f2937;
    font-size: 0.9rem;
  }

  input, select, textarea {
    padding: 0.75rem;
    border: 2px solid black;
    border-radius: 0;
    font-size: 1rem;
    transition: all 0.2s ease;
    background-color: transparent;
    color: white;
    font-weight: 700;
  }

  select option {
    background-color: white;
    color: black;
    font-weight: 700;
  }

  input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: black;
  }

  input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
  }

  .city-note {
    font-size: 0.8rem;
    color: #6b7280;
    margin-top: 0.25rem;
    font-style: italic;
  }

  .form-help-text {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    font-style: italic;
  }

  .char-count {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: block;
    text-align: right;
    color: black !important;
  }

  /* Checkbox styles */
  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.75rem;
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: auto;
    padding: 1rem;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.05);
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
    font-size: 0.9rem;
    font-weight: 600;
    color: white !important;
    margin-bottom: 0 !important;
  }

  .checkbox-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .checkbox-item input[type="checkbox"] {
    display: none;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    flex-shrink: 0;
  }

  .checkbox-item input[type="checkbox"]:checked + .checkmark {
    background-color: white;
    border-color: white;
  }

  .checkbox-item input[type="checkbox"]:checked + .checkmark::after {
    content: "✓";
    color: black;
    font-size: 14px;
    font-weight: 900;
  }



  /* Submit Button */
  .submit-btn {
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 1rem;
  }

  .submit-btn:hover {
    transform: translateY(-2px);
  }

  .submit-btn:active {
    transform: translateY(0);
  }

  .submit-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .artist-form-container {
      padding: 2rem 1.5rem;
      margin: 0 1rem;
    }

    .checkbox-group {
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      max-height: 250px;
    }
  }
</style>